/*css variable*/
:root{
    --primarycolor:#FFCC00;
    --secondarycolor:#353535;
    --Primaryfont: "Poppins", sans-serif;
    --secondfont: "PT Sans", sans-serif;
}


/*comman css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
ul,
ol{
    list-style: none;
}
a{
    text-decoration: none;
}
.container{
    width: 1110px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
body{
    font-family:var(--Primaryfont);
}
.align_center{
    align-items: center;
}
.btn{
    border-radius: 20px;
    background:var(--primarycolor);
    
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    color: #fff;
    padding:16px 45px;
    display: inline-block;
}
.btn.outline{
    padding: 16px 18px;
    background-color: transparent;
    border: 1px solid var(--secondarycolor);
    color: var(--secondarycolor);
}
.space-between{
    justify-content: space-between;
}




/*Navigation start here*/
nav .logo{
    width:30% ;
   
   
}
nav .menu{
   width: 70%;
   text-align: right;
}
nav .menu li{
    display: inline-block;
}
nav .menu li a{
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    color:var(--secondarycolor);
    text-transform: uppercase;
    padding: 18px 22px 5px;
    display: block;
    position: relative;
 
}
nav .menu li a::before{
    content: "";
    width: 0%;
    height: 1px;
    position: absolute;
    bottom: 0;
    left: 0;
    
    background-color: var(--secondarycolor);
    transition: 0.40s;
    
    

}
/*active problem*/
nav .menu li .active::before, 
nav .menu li:hover a::before{
    width: 100%;
}
/*Navigation end here*/
/*Banner Start*/
#banner{
    padding: 56px 0 155px;
    position:relative;
}
 
 #banner .imagecont{
    width:47%;
    color:var( --secondarycolo) ;

}

#banner .bannercont{
    width:53%;
}
#banner .bannercont h5{
    font-weight: 400;
    font-size: 24px;
}
.fa-regular.fa-hand-spock{
    color: var(--primarycolor);
}
#banner .bannercont h1{
      font-family: var(--secondfont);
      font-weight: 700;
    font-size: 64px;
    padding: 15px 0 25px;
}
#banner .bannercont p{
    
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 180%;
    margin-bottom: 45px
}
#banner .btn.outline{
    margin-left: 40px;
}
#banner .social_links{
    margin-top: 66px;
}
#banner .social_links h4{
    
    font-weight: 500;
    font-size: 22px;
    line-height: 180%;
    color: var(--secondarycolor);
    margin-right: 32px;
}
#banner .social_links a{
    background-color:#F4F3F3;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color:#000000;
    margin-right: 16px;
}
#banner .icon{
    position:absolute;
    bottom:90px;
    transform:translateX(-50%);
    left:50%;
   
}
/*Banner End*/
/*property start*/
#property{

    background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
    
}

#property .imgsection{
    width:50%;
  
    
}
#property .cntsection{
    width:50%;
}
   




#property .cntsection h5{
    
    font-weight: 700;
    font-size: 50px;
    color:var(--secondarycolor);
    padding:78px 0 26px;
    
    
}
#property .cntsection p{
    
font-weight: 400;
font-size: 20px;
line-height: 190%;
color:var(--secondarycolor);
padding-bottom: 45px;

}
#property .cntsection a{
    
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color:var(--secondarycolor);
    padding:17px 44px;
    
}
/*property end*/
/*Frame start here*/
#framepart{
    padding: 151px 0 165px;
   
}
.framecntsection{
    
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    margin: 0 16px;
    width: calc(33.33% - 32px);
    text-align: center;
    padding: 39px 0 57px;
}
.framecntsection h4{
    
    font-weight: 600;
    font-size: 22px;
    line-height: 180%;
    text-align: center;
    color:var(--secondarycolor);
    margin: 18px 0 14px;
}
.framecntsection p{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 190%;
    text-align: center;
    color: #7a7a7a;
    padding: 0 47px;
}



/*Frame end here*/
/*Branding start here*/
#branding{
    padding-bottom: 147px;
}


#branding .img_branding{

    width: 40%;
   margin-top: 18px;
  
   
}
#branding .cnt_branding{
    width: 40% ;
   

}


#branding .container{
    background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
    border-radius: 30px;
}
.cnt_branding h5{
    
    
    font-weight: 700;
    font-size: 44px;
    color:var(--secondarycolor);
    margin-top: 83px;
}
.cnt_branding p{
   
    font-weight: 400;
    font-size: 18px;
    line-height: 190%;
    color: var(--secondarycolor);
    padding: 21px 65px 35px 0;
    
    
}
#branding .cnt_branding a{
    padding: 18px 38px;
   
    font-weight: 500;
    font-size: 17px;
    line-height: 180%;
    text-align: center;
    color:var(--secondarycolor);
}

/*Branding end here*/
/*Design part start*/
#whatdo{
    padding: 225px;
   
}

.imagepart{
    width: 35%;
    
}
.cntpart{
    width: 50%;
    
}
.imagepart .imglogo{
    padding: 10px 11px;
    margin-right: 14px;
    margin-left: 20px;
}
.imagepart .cntsite h3{
       
    font-weight: 600;
    font-size: 18px;
    line-height: 180%;
    color:var(--secondarycolor);
}
.imagepart .cntsite p{
        
    font-weight: 500;
    font-size: 12px;
    line-height: 180%;
    color: var(--secondarycolor);
}

.imagepart .img{
    border-radius: 20px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.08);
    background: #fff;
    margin-bottom: 24px;
}
.img h3{
    margin-bottom: 2px;
}
#whatdo .cntpart h3{
  
    font-weight: 700;
    font-size: 50px;
    text-align: right;
    color:var(--secondarycolor);
}
#whatdo .cntpart p{
   
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    text-align: right;
    color: var(--secondarycolor);
}
.cntpart .design{
   
    margin-left: 104px;
    margin-top: 32px;
}
.cntpart .design h4{
    
    font-weight: 700;
    font-size: 40px;
    text-align: right;
    color: #353535;
    margin-bottom: 10px;
}
.cntpart .design span{
   
    font-weight: 500;
    font-size: 14px;
    line-height: 180%;
    color: #353535;
}

/*Design part end*/
/*my work start*/
#work h6{
    font-family: var(--second-family);
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    color: #353535;
    padding-bottom: 100px;
}

.timeline .year{
   width: 30%;
   border-right: 2px dashed #7a7a7a;
  position: relative;
}
.timeline.green .year::after{
    background-color: #52AB70;
}
.timeline.red .year::after{
    background-color: #F17676;
}
.timeline.yello .year::after{
    background-color: #FFD233;
}
.timeline .year::before{
    content:"";
    width: 42px;
    height:42px;
   border-radius: 50%;
    border: 2px dashed #7a7a7a;
    position: absolute;
    right: -23px;
    background-color:white
    
}
.timeline .year::after{
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
    position:absolute;
    right: -11px;
    top: 13px;
}
.timeline .designer{
    width: 70%;
    padding-left: 132px;
}
.timeline h5{
    
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    color: var(--secondarycolor);
    margin-bottom: 16px;
}
.timeline p{
    
    font-weight: 500;
    font-size: 18px;
    line-height: 200%;
    color: var(--secondarycolor);
}
.timeline .year p{
    font-weight: 400;
}
/*my work end*/
/* expart start*/
.expert{
    padding: 297px 0 146px;
}

.expert .expert_part{
    width: 50%;
}
.expert .figma_part{
    width: 40%;

}
.expert .expert_part h2{
    
    font-weight: 700;
    font-size: 50px;
    color:var(--secondarycolor);
    padding-bottom: 49px;

}
.expert .expert_part p{
    padding-bottom: 14px;
    
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #7a7a7a;
    }
.expert .expert_part span{
       
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #7a7a7a;
}
.expert .expert_part .btn{
    margin-top: 39px;
   
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    color: #fff;
    
}
.figma_part .button{
    padding-right: 136px;
    padding-bottom: 66px;
   
}
.figma_part .button a{
    
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: var(--secondarycolor);
    width: 163px;
    height: 63px;
}
.figma_part span{
   
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #353535;
}

/*expart end*/
/*service start*/
#service{
    background-color: #FFF7D5;
    padding-bottom: 104px;
}
.service_card{
    
    width: calc(33.33% - 19px);
     box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.06);
   
    background-color: #FFFFFF;
    border: 0.10px solid #3535355e;
    
    border-radius: 12px;
    margin: 0 9.5px;
    text-align: center;
    padding: 32px 48px 79px;
    transition: 0.3s ease;
    
}
.service_card h4{
    
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    text-align: center;
    color: var(--secondarycolor);
}
.service_card p{
   
    font-weight: 400;
    font-size: 15px;
    line-height: 180%;
    text-align: center;
    color: #7a7a7a;
    margin-top: 25px;
}

#service h3{
   
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color:var(--secondarycolor);
     padding-top: 71px;
    
}

#service .paragrap p{
       
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: center;
    color: #7a7a7a;
    margin: 13px 300px;
    padding-bottom: 73px;

}
.service_card:hover{
    transform: scale(1.05) translateY(-11px);
    background: linear-gradient(151deg, #fc0 0%, #ffe476 98.84%);
}



/*service end*/
/*client start*/
 .picture,
 .group{
    width: 40%;
 }
 .group{
    width: 40%;
 }
 .client h4{
        
    font-weight: 700;
    font-size: 50px;
    line-height: 135%;
    color:var(--secondarycolor);
    margin-top: 92px;
 }
 .client .para{
    margin-bottom: 63px;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    color: #7a7a7a;
    margin-top: 13px;
    margin-right: 512px;
    
 }
 .group p{
       
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
    color: #7a7a7a;
    padding-bottom: 24px;
 }
 .group h5{
    
    font-weight: 500;
    font-size: 24px;
    line-height: 200%;
    color: var(--secondarycolor);
    
 }
 .group span{
   
    font-weight: 400;
    font-size: 16px;
    line-height: 200%;
    text-align: center;
    color: #7a7a7a;
 }

/*client end*/
/*blogpost start*/
#myblog{
    padding: 272px 0 166px;
}


.blog,
.blog_post{
    width: 50%;
}
.blog .redmore{
    width: 52%;
    padding-top: 41px;
}
.blog .write{
    width: 40%;
    padding-top: 41px;
}
.blog_post .red{
    width: 40%;
    padding-top: 41px;
}
.blog_post .redmore{
    padding-top: 41px;
    width: 52%;
}
.blog_post .red a{
   
    font-weight: 500;
    font-size: 18px;
    line-height: 190%;
    color: #353535;
}
.blog .write a{
   
    font-weight: 500;
    font-size: 18px;
    line-height: 190%;
    color: #353535;
   
}
.blog .write h6{
   
    font-weight: 400;
    font-size: 14px;
    line-height: 190%;
    color: #7a7a7a;
    margin-right: 25px;
}
.blog .write h5{
   
    font-weight: 500;
    font-size: 14px;
    line-height: 190%;
    color: var(--secondarycolor);
   
}

.blog .write p{
    
    font-weight: 600;
    font-size: 18px;
    line-height: 190%;
    color: var(--secondarycolor);
    margin: 13px 0 69px;
}
.blog_post h6{
   
    font-weight: 400;
    font-size: 14px;
    line-height: 190%;
    color: #7a7a7a;
    margin-right: 25px;
}
.blog_post h5{
   
    font-weight: 500;
    font-size: 14px;
    line-height: 190%;
    color: #353535;
}
.blog_post p{
   
    font-weight: 600;
    font-size: 18px;
    line-height: 190%;
    color: #353535;
    margin: 13px 0 58px;
}

/*blogpost end*/
/*newslatter start*/
#newslatter{
    padding: 186px 0 132px;
}

#newslatter .container{
    background: linear-gradient(130deg, #fc0 0%, #fff5cb 100%);
    border-radius: 30px;
}

.inputpart{
    width: 50%;
}
.newspart{
    width: 40%;
}
.newspart h6{
  
    
    font-weight: 400;
    font-size: 20px;
    line-height: 200%;
   padding-top: 66px;
   
    color: var(--secondarycolor);
}
.newspart{
    margin-left: 75px;
}
.newspart h3{
   
    font-weight: 600;
    font-size: 36px;
    line-height: 200%;
    color: var(--secondarycolor);
}
.newspart p{
  
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color:var(--secondarycolor);
    padding-bottom: 100px;
}
.inputpart input{
    border: none;
    border-radius: 16px 0 0 16px;
    background: #fff;
    padding: 17px 37px;
    padding-right: 100px;
    
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #7a7a7a;
    
    
}
.inputpart a{
  
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    color: #fff;
    background: #ff6565;
    
    border-radius: 0 16px 16px 0;
    padding: 25px;

}
/*newslatter end*/
/*footer start*/
#footer{
    background-color: #575757;
   
}

.footer_part .part_1{
   width: 33.33%;

}

.footer_part p{
    
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    width: 400px;
    margin-bottom: 94px;
    color: #bbb9b9;

}
.footer_part h3{
       
    font-weight: 700;
    font-size: 36px;
    line-height: 200%;
    color: #fff;
    margin: 70px 0 15px;
}
.footer_part span{
   
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: justify;
    color: #bbb9b9;
}

.footer_part h5{
    
    font-weight: 500;
    font-size: 20px;
    line-height: 180%;
    color: #fff;
    padding-bottom: 85px;
}
.footer_part img{
    margin-bottom: 182px;
    margin-top: 71px;
}
.footer_part .social_links h4{
    
    font-weight: 400;
    font-size: 18px;
    line-height: 180%;
    text-align: justify;
    color: #fff;
   
}
.footer_part .social_links a{
    background-color:#484848;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 40px;
    color:#FFFFFF;
    margin-left: 24px;
    padding: 5px 0 14px;


}
.footer_part .social_links{
    margin-top: 139px;
    text-align: center;
}






/*footer end*/




  
 








